.class{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 35px;
    

    .title{

        font-size: 36px;

    }

    .current{

        display: flex;
        align-items: center;
        gap: 100px;

        .infoCurrent{

            margin: 55px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;

            .infoOptions{

                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;

                .label{

                    font-size: 18px;
                    

                }

                .input{

                    font-size: 18px;
                    width: 275px;
                    height: 35px;
                    padding: 5px;

                }

<<<<<<< HEAD
                .inputT{

                    width: 275px;
                    height: 150px;
                    padding: 5px;
                    font-size: 18px;

                }

=======
>>>>>>> origin/main
            }

        }
        .info{

            margin: 55px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;

            .infoOptions{

                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;

                .label{

                    font-size: 18px;
                    

                }

                .input{

                    font-size: 18px;
                    width: 275px;
                    height: 35px;
                    padding: 5px;

                }

<<<<<<< HEAD
                .inputT{

                    width: 275px;
                    height: 150px;
                    padding: 5px;
                    font-size: 18px;

                }

=======
>>>>>>> origin/main
            }

        }

    }

}