
:root {
    --varbraownorange: #AA6227;
    --varblue: #2E4C59;
    --vargrey: #858585;

  }

  .action{

    padding: 15px 35px;
    font-size: 22px;
    color: white;
    background-color: var(--varblue);
    border: solid 1px #AA6227;
    border-radius: 15px;
    cursor: pointer;

}