.class{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;


    .content{

        display: flex;
        flex-direction: column;
        gap: 65px;

    }

}