.content{

    width: 300px;
    height: 300px;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .image{

        height: 150px;
        object-fit: cover;

    }

    .country{
        
        font-weight: bold;
        font-size: 16px;

    }

    .city{

        font-size: 14px;

    }

    .lvl, .rooms{

        color: var(--vargrey);
        font-size: 14px;

    }

}