.class{

    padding: 45px 50px;

    .content{

        display: grid;
        grid-template-columns: 75% 25%;
        gap: 35px;
        grid-template-rows: 1fr;

        .contentLeft{

            display: flex;
            flex-direction: column;
            gap: 35px;
            height: 700px;
            

            .title{

                font-size: 42px;
                font-weight: bold;
                padding: 0px 15px;
                border-left: solid 2px black;
    
            }

            .mainNews{

                height: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: flex-end;
                
                background-image: url("../../assets/mainnews.png");
                background-repeat: no-repeat;
                background-size: cover;

                

                .description{

                    font-size: 26px;
                    font-weight: bold;
                    color: white;

                }

                .date{

                    font-size: 16px;
                    color: grey;

                }

            }

        }

        .contentRight{
            display: flex;
            flex-direction: column;
            gap: 35px;

            .title{

                font-size: 32px;
                font-weight: 400;

            }

            .list{

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

               

            }

        }

    }

}