.class{

    z-index: 1;
    padding: 15px 50px;
    height: 80vh;
    width: 100vw;

    .content{

        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-image: url('../../assets/hero/hero.png');
        background-repeat: no-repeat;
        background-size: cover;

        .title{

            font-size: 52px;
            color: white;
            padding-left: 100px;
            padding-top: 150px;

        }


        .options{

            
            border-radius: 15px;
            background-color: transparent;
            width: 85%;
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);

            .headers{

                display: flex;
                align-items: center;
                
                

                .priority{

                    background-color: white;
                    padding: 10px 55px 10px 25px;
                    color: black;
                    border-radius: 15px 0 0 0;
                    cursor: pointer;

                }

                .header{

                    background-color: var(--varblue);
                    padding: 10px 55px 10px 25px;
                    color: black;
                    cursor: pointer;
                    opacity: 0.9;

                }
                

            }

            .values{

                background-color: white;
                display: flex;
                align-items: center;
                gap: 25px;
                padding: 22px;
                justify-content: space-between;
                border-radius: 0px 15px 15px 15px;

                .optionsvalues{

                    display: flex;
                    align-items: center;
                    gap:65px;

                    .labans{

                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .label{

                            color: var(--vargrey);
                            font-size: 16px;

                        }

                        .select{

                            font-size: 18px;
                            color: var(--varblue);

                        }

                    }

                   

                }

                .action{

                    background-color: var(--varbraownorange);
                    padding: 15px 35px;
                    font-weight: 400;
                    border: none;
                    color: white;
                    text-transform: uppercase;
                    font-size: 16px;
                    border-radius: 10px;
                    cursor: pointer;

                }

            }
            

            

        }
        

    }

}


@media screen and (max-width:1024px) {

    .class{

        .content{

            .title{

                font-size: 32px;

            }


            .options{

                .values{

                    flex-direction: column;


                    .optionsvalues{

                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 10px;

                    }
                    

                }

            }

        }

    }
    
}


@media screen and (max-width:768px){

    .class{

        padding: 15px;

        .content{

            .title{

            padding-left: 50px;
            padding-top: 75px;

            }

            .options{

                width: 90%;

                .headers{

                    .header{

                        padding: 10px;

                }

            }

        }

    }

}}