.content{

   width: 305px;
   
   padding: 35px;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .image{

        height: 150px;
        object-fit: cover;

    }

    .country{
        
        font-weight: bold;
        font-size: 16px;

    }

    .city{

        font-size: 14px;

    }

    .lvl, .rooms{

        color: var(--vargrey);
        font-size: 14px;

    }

    .action{

        padding: 5px 35px;
        font-size: 22px;
        color: white;
        background-color: var(--varblue);
        border: solid 1px #AA6227;
        border-radius: 15px;
        cursor: pointer;
        width: 150px;
        

    }

}